<div class ="jumbotron">
	<h1>About Me</h1>
	<p>My name is Runit Kumar and this is my Pinteresting project app.</p>
	<p>Special thanks to <a href="http://onemonthrails.com">One Month Rails</a> for the help.</p>
</div>